<div class="mt-10 max-w-sm mx-auto">
    <form [formGroup]="form" (ngSubmit)="logInClicked()">
        <!-- Email input with error messages -->
        <app-input
            [parentFormGroup]="form"
            [formControlName]="'email'"
            [label]="'Email:'"
            [type]="'email'"
            [name]="'email'"
            [autocomplete]="'email'"
            [errorMessage]="emailErrorMsg"
            (input)="onInputChange()"
        >
        </app-input>

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500 text-sm">
            <div *ngIf="email?.errors?.['required']">Email is required</div>
            <div *ngIf="email?.errors?.['pattern']">Please enter a valid email address</div>
            <div *ngIf="email?.errors?.['maxLength']">Email must be less than 129 characters</div>
        </div>

        <div class="h-4"></div>
        <!-- Password input -->
        <app-input
            [parentFormGroup]="form"
            [formControlName]="'password'"
            [label]="'Password'"
            [type]="'password'"
            [name]="'password'"
            [autocomplete]="'current-password'"
            [errorMessage]="passwordErrorMsg"
            (input)="onInputChange()"
        >
        </app-input>

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500 text-sm">
            <div *ngIf="password?.errors?.['required']">Please enter your password</div>
            <div *ngIf="password?.errors?.['maxlength']">Password should be less than 65 characters</div>
        </div>

        <!-- Submit button -->
        <app-submit-button class="w-full mt-6 block" (click)="logInClicked()" label="Login"></app-submit-button>
    </form>
</div>
