<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" type="email" />
            <mat-error *ngIf="!emailIsValid && loginForm.get('email')?.touched">
                Please enter a valid email.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required.
            </mat-error>
        </mat-form-field>

        <app-submit-button [loading]="loading" label="Login"></app-submit-button>

        <div *ngIf="snackbarMsg" class="snackbar">{{ snackbarMsg }}</div>
    </form>
</div>
